.header {
  background: #0f172a;
  color: #fff;
  display: grid;
  min-height: fit-content;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  gap: 2rem;
  user-select: none;
}

.headerText {
  font-size: 4rem;
  /* writing-mode: vertical-rl; */
  text-decoration: upright;
  letter-spacing: 0.2ch;
  font-weight: 800;
  text-align: center;
  text-shadow: 0.03em 0.03em 0 rgb(124, 173, 165),
    0.06em 0.06em 0 rgb(113, 126, 66), 0.09em 0.09em 0 rgb(75, 48, 31),
    0.11em 0.11em 0 rgb(107, 98, 105);
}

.navItems {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.icons {
  transition-duration: 300ms;
  padding: 4px 6px;
}

.icons:hover {
  background-color: aqua;
  color: #0f172a;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(1.1);
  text-shadow: 0.03em 0.03em 0 #fff;
}

.anchor {
  text-decoration: none;
  outline: none;
  color: unset;
}

.resume {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 10px;
  color: #0f172a;
  background-color: #fff;
  transition: background-color 400ms, color 400ms, border-color 400ms;
}

.resume:hover {
  background-color: #0f172a;
  color: #fff;
  border-color: #fff;
}


/* ============== HEADER MEDIA QUERY ===================== */
@media (max-width: 640px) {
  .header {
    flex-direction: row;
    min-height: fit-content;
  }

  .headerText {
    text-decoration: upright;
    letter-spacing: 0.2ch;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  .navItems {
    flex-direction: row;
    font-size: 5.4rem;
    gap: 50px;
  }

  .icons {
    font-size: 3rem;
  }
} ;
